<h1>Hello, I am Omid Rajabalian</h1>
<p>Welcome to Terial Task</p>
<ul>
  <li><a href='http://omidrajabalian.com/'>Omid Rajabalian persoanl website</a> and <a href='https://www.linkedin.com/in/omid-rajabalian-28189953/'>Linkedin</a> .</li>
</ul>
<p>To help you get started, we've also set up:</p>
<p>
  Application has 2 parts <strong>Verivox.Service.API:</strong> WebAPI, <strong>Verivox.Web:</strong> Simple user Interface for managing application functionality
  <br />
  This application is base on plugins, you could add functionality witout modify app core, for example in this application I implemented 2 plugins
</p>
<ul>
  <li><strong>Verivox.Plugin.ProductConditions.Basic</strong>. For simple calculate Tariff Comparison.</li>
  <li><strong>Verivox.Plugin.ProductConditions.Advance</strong>. For Advance calculate Tariff Comparison with folmura.</li>
</ul>
<p>By this solution you could each calculate for Tariff Comparison in futhre easyly and you don't need change app core.</p>
<p>
  For Installing application
</p>
<ul>
  <li><strong>1)</strong> Set connection string in appsettings.json in Verivox.Service.API project</li>
  <li><strong>2)</strong> Check proxy.config.json in Verivox.Web for endpoint</li>
  <li><strong>3)</strong> Just run application</li>
  <li><strong>4)</strong> Good Luck!</li>
</ul>
